.personal-details {
  background-color: #fff;
  padding: 2.4rem;
  border-radius: 1.2rem;
  width: 25%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-image-container {
  position: absolute;
  width: 15rem;
  height: 15rem;
  border-radius: 1.5rem;
  overflow: hidden;
  top: 0;
  transform: translate(0%, -50%);
}

.user-image-container img {
  width: 100%;
}

.user-name {
  color: #444;
  font-size: 2.4rem;
  margin-top: 7rem;
  margin-bottom: 0.8rem;
}

.role {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #ece9e9;
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
  margin-bottom: 1.2rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.slink {
  display: inline-block;
  padding: 0.8rem;
  background-color: #ece9e9;
}

.social-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.info-icon-container svg {
  width: 2.4rem;
  height: 2.4rem;
}

.download-icon {
  width: 1.8rem;
  height: 1.8rem;
}
